.modal__footer > .button {
  margin-bottom: 1rem;
}

.button {
  font: inherit;
  padding: 0.8rem 1.5rem;
  width:100%;
  border: 1px solid #3FCEFE;
  border-radius: 20px;
  background: #3BED8D;
  color: #F6FBF1;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}
.button:focus {
  outline: none;
}
.button:hover,
.button:active {
  background: #30c073;
  border-color: #3BED8D;
}
.button--inverse {
  background: #3BED8D;
  color: #fff;
}
.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #30c073;
  border-color: #3FCEFE;
}
.button--danger {
  background:#3FCEFE;
  border-color: #3BED8D;
}
.button--danger:hover,
.button--danger:active {
  background: #34aad1;
  border-color: #3FCEFE;
}
.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #30c073;
  color: #F6F1FB;
  border:none;
  outline: none;
  cursor: not-allowed;
}
.button--small {
  font-size: 0.8rem;
}
.button--big {
  font-size: 1.5rem;
}