.form-control {
  margin: 2rem 0;
}
.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}
.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align:left;
  padding-left: 2%;
}
.form-control input::placeholder{
  color:#fbf1f6;
}
.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border: 2px solid #3FCEFE;
  border-radius: 20px;
  background: rgb(44,44,44);
  padding: 0.8rem 0.7rem;
}
.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #FBFBFB;
  border-color: #3FCEFE;
}
.form-control input:focus::placeholder{
  color:rgb(44,44,44)
}
.form-control--invalid label,
.form-control--invalid p {
  color:#dc143c;
}
.form-control--invalid input,
.form-control--invalid textarea{
  border-color: #DC143C;
  background: #FFD1D1;
}
.form-control--invalid input::placeholder{
  color:rgb(44,44,44);
}